@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 6px 0 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1270px;
  width: 80%;
  margin: 0 auto;
  margin-top: -70px;
}
.container__input {
  margin-top: 20px;
}
.container__input input[type=radio] {
  position: absolute;
  opacity: 0;
}
.container__input input[type=radio] + .radio-label:before {
  content: "";
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #bfbfbf;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.container__input input[type=radio]:checked + .radio-label:before {
  background-color: #725ac1;
  box-shadow: inset 0 0 0 4px #fff;
}
.container__buttons, .container--questions {
  margin-top: 40px;
}
.container__input label {
  color: #928f8f;
}
.container__h2 {
  font-weight: bold;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type=checkbox]:not(:checked) + label,
[type=checkbox]:checked + label {
  position: relative;
  padding-left: 2.2em;
  cursor: pointer;
}

[type=checkbox]:not(:checked) + label:before,
[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 0.2em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
  transition: all 0.275s;
}

[type=checkbox]:not(:checked) + label:after,
[type=checkbox]:checked + label:after {
  content: "✕";
  position: absolute;
  top: 0.53em;
  left: 0.065em;
  font-size: 1.2em;
  color: #725ac1;
  line-height: 0;
  transition: all 0.2s;
}

[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}

[type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1) rotate(0);
}

[type=checkbox]:checked + label:before {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 6px rgba(156, 34, 237, 0.2);
}

.style-input {
  position: relative;
  display: inline-block;
  padding: 13px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725ac1;
  border-radius: 7px;
  box-shadow: inset 0 0 0 0 #725ac1;
}
.style-input:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}
.style-input:active {
  transform: scale(0.9);
}

.space {
  margin-right: 25px;
  margin-bottom: 20px;
}

.card-container {
  background-color: #725ac1;
  height: 876px;
  width: 448px;
  border-radius: 8px;
  padding-top: 10px;
}
.card-container__p, .card-container__title {
  color: #fff;
  text-align: center;
  height: 20px;
}
.card-container__textRecomendation {
  margin-top: 30px;
  height: auto;
  color: #fff;
  font-weight: bold;
}
.card-container__info {
  display: flex;
  width: 100%;
  gap: 1%;
  height: 35px;
}
.card-container__info-title {
  width: 30%;
  padding-right: 3%;
  text-align: end;
}
.card-container__info-name, .card-container__info-soil, .card-container__info-pot, .card-container__info-color, .card-container__info-extras {
  width: 55%;
  position: relative;
  padding-left: 5%;
}
.card-container__info-name::before, .card-container__info-soil::before, .card-container__info-pot::before, .card-container__info-color::before, .card-container__info-extras::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 2px;
  height: 36px;
  background-color: rgb(251, 245, 236);
}

button.style-input {
  margin-top: 70px;
  margin-bottom: 50px;
}

.containerCustomBtn {
  display: flex;
  justify-content: center;
  color: #725ac1;
}

.containerCustomBtn a:hover {
  color: #fff;
}

.plant {
  position: relative;
  max-width: 397px;
  left: 23px;
  border: 2px solid rgb(114, 90, 193);
  background-color: rgb(255, 255, 255);
  height: 528px;
  margin-bottom: 20px;
}
.plant img {
  position: absolute;
}

.container-option {
  display: flex;
}

.lateral-space {
  margin-right: 60px;
}

.top-space {
  margin-top: 40px;
}

.botton-space {
  margin-bottom: 150px;
}

.height-null {
  height: 0;
}

.switch {
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2.09em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "no";
  height: 1.5em;
  text-align: center;
  font-size: 12px;
  width: 1.5em;
  border-radius: 20px;
  top: 0.04em;
  left: 0.1em;
  background-color: #adb5bd;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #725ac1;
  border: 1px solid #725ac1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #725ac1;
}

input:checked + .slider:before {
  content: "si";
  transform: translateX(1.1em);
  background-color: #fff;
}

.container-colors {
  margin-top: 10px;
  display: none;
}

.custom-dropdown select {
  background-color: #725ac1;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
}

#blue + .radio-label:before,
#blue:checked + .radio-label:before {
  background-color: blue;
}

#red + .radio-label:before,
#red:checked + .radio-label:before {
  background-color: red;
}

#green + .radio-label:before,
#green:checked + .radio-label:before {
  background-color: green;
}

#purple + .radio-label:before,
#purple:checked + .radio-label:before {
  background-color: purple;
}

/*# sourceMappingURL=styles.css.map */
