// Estilos para form y inputs
.container {
	max-width: 1270px;
	width: 80%;
	margin: 0 auto;

	&__input {
		margin-top: 20px;

		input[type='radio'] {
			position: absolute;
			opacity: 0;

			&+.radio-label {
				&:before {
					content: '';
					background-color: $white;
					border-radius: 100%;
					border: 1px solid darken($white, 25%);
					display: inline-block;
					width: 1em;
					height: 1em;
					margin-right: 1em;
					vertical-align: top;
					cursor: pointer;
					text-align: center;
					transition: all 250ms ease;
				}
			}

			&:checked {
				&+.radio-label {
					&:before {
						background-color: $purple;
						box-shadow: inset 0 0 0 4px $white;
					}
				}
			}
		}
	}

	&__buttons,
	&--questions {
		margin-top: 40px;
	}

	&__input label {
		color: $gray;
	}

	&__h2 {
		font-weight: bold;
	}
}

// Estilos para checkbox
[type='checkbox']:not(:checked),
[type='checkbox']:checked {
	position: absolute;
	left: 0;
	opacity: 0.01;
}

[type='checkbox']:not(:checked)+label,
[type='checkbox']:checked+label {
	position: relative;
	padding-left: 2.2em;
	cursor: pointer;
}

[type='checkbox']:not(:checked)+label:before,
[type='checkbox']:checked+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1em;
	height: 1em;
	border: 1px solid #aaa;
	background: #fff;
	border-radius: 0.2em;
	box-shadow:
		inset 0 1px 3px rgba(0, 0, 0, 0.1),
		0 0 0 rgba(203, 34, 237, 0.2);
	transition: all 0.275s;
}

[type='checkbox']:not(:checked)+label:after,
[type='checkbox']:checked+label:after {
	content: '✕';
	position: absolute;
	top: 0.53em;
	left: 0.065em;
	font-size: 1.2em;
	color: $purple;
	line-height: 0;
	transition: all 0.2s;
}

[type='checkbox']:not(:checked)+label:after {
	opacity: 0;
	transform: scale(0) rotate(45deg);
}

[type='checkbox']:checked+label:after {
	opacity: 1;
	transform: scale(1) rotate(0);
}

// Accessibility
[type='checkbox']:checked+label:before {
	box-shadow:
		inset 0 1px 3px rgba(0, 0, 0, 0.1),
		0 0 0 6px rgba(156, 34, 237, 0.2);
}

//buttons
.style-input {
	position: relative;
	display: inline-block;
	padding: 13px 30px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: $purple;
	background: transparent;
	cursor: pointer;
	transition: ease-out 0.5s;
	border: 2px solid $purple;
	border-radius: 7px;
	box-shadow: inset 0 0 0 0 $purple;

	&:hover {
		color: white;
		box-shadow: inset 0 -100px 0 0 $purple;
	}

	&:active {
		transform: scale(0.9);
	}
}

.space {
	margin-right: 25px;
	margin-bottom: 20px;
}

.card-container {
	background-color: #725ac1;
	height: 876px;
	width: 448px;
	border-radius: 8px;
	padding-top: 10px;

	&__p,
	&__title {
		
		color: $white;
		text-align: center;
		height: 20px;
	}

	&__textRecomendation {
		margin-top: 30px;
		height: auto;
		color: $white;
		font-weight: bold;
	}

	&__info {
		display: flex;
		width: 100%;
		gap: 1%;
		height: 35px;

		&-title {
			width: 30%;
			padding-right: 3%;
			text-align: end;
		}

		&-name,
		&-soil,
		&-pot,
		&-color,
		&-extras {
			width: 55%;
			position: relative;
			padding-left: 5%;

			&::before {
				content: "";
				position: absolute;
				top: -8px;
				left: 0;
				width: 2px;
				height: 36px;
				background-color: rgb(251, 245, 236);
			}
		}
	}
}