.plant {
	position: relative;
	max-width: 397px;
	top: 10px;
	left: 23px;
	border: 2px solid rgb(114, 90, 193);
	background-color: rgb(255, 255, 255);
	height: 528px;
	margin-bottom: 20px;
	img {
		position: absolute;
	}
}
