@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 6px 0 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1270px;
  width: 80%;
  margin: 0 auto;
}
.container__input {
  margin-top: 20px;
}
.container__input input[type=radio] {
  position: absolute;
  opacity: 0;
}
.container__input input[type=radio] + .radio-label:before {
  content: "";
  background-color: #ffffff;
  border-radius: 100%;
  border: 1px solid #bfbfbf;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.container__input input[type=radio]:checked + .radio-label:before {
  background-color: #800080;
  box-shadow: inset 0 0 0 4px #ffffff;
}
.container__buttons, .container--questions {
  margin-top: 40px;
}
.container__input label {
  color: #808080;
}
.container__h2 {
  font-weight: bold;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type=checkbox]:not(:checked) + label,
[type=checkbox]:checked + label {
  position: relative;
  padding-left: 2.2em;
  cursor: pointer;
}

[type=checkbox]:not(:checked) + label:before,
[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 0.2em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
  transition: all 0.275s;
}

[type=checkbox]:not(:checked) + label:after,
[type=checkbox]:checked + label:after {
  content: "✕";
  position: absolute;
  top: 0.53em;
  left: 0.065em;
  font-size: 1.2em;
  color: #cb22ed;
  line-height: 0;
  transition: all 0.2s;
}

[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}

[type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1) rotate(0);
}

[type=checkbox]:checked + label:before {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 6px rgba(203, 34, 237, 0.2);
}

.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 14 */
.btn {
  background: rgb(255, 151, 0);
  border: none;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5) 7px 7px 20px 0px rgba(0, 0, 0, 0.1) 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn:hover {
  color: #000;
}

.btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.btn:active {
  top: 2px;
}/*# sourceMappingURL=styles.css.map */